{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/standard"
  ],
  "plugins": ["@typescript-eslint", "jest", "prettier", "standard"],
  "env": {
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "prettier/prettier": "error"
  }
}
